<div class="p-3 w-50">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Post Title:</label>
    <input type="text" class="form-control bg-secondary text-light-emphasis" id="formGroupExampleInput">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">What would you like to say?</label>
    <input type="text" class="form-control bg-secondary text-light-emphasis" id="formGroupExampleInput2">
  </div>
    <button type="submit" class="btn btn-primary" id="newPost">Post!</button>
</div>