<section class="d-flex flex-column p-2 align-items-center">
{{#each allPosts}}
<div class="card text-bg-tertiary mb-3" style="min-width: 75%;">
  <div class="card-header">{{User.username}}</div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{post_text}}</p>
  </div>
</div>
{{/each}}
</section>