<form class="p-3">
  <h1>Login:</h1>
  <div class="mb-3">
    <label for="loginUsername" class="form-label">Username</label>
    <input type="username" class="form-control bg-secondary text-light-emphasis w-50" id="loginUsername">
  </div>
  <div class="mb-3">
    <label for="loginPassword" class="form-label">Password</label>
    <input type="password" class="form-control bg-secondary text-light-emphasis w-50" id="loginPassword">
  </div>
  <button type="submit" class="btn btn-primary" id="login">Submit</button>
</form>
<script src="/js/login.js"></script>